.filtersWrap {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.filtersRow {
  display: flex;
  flex-direction: column;
  margin: 5px 0;

  @media (--tablet-portrait) {
    flex-direction: row;
  }
}

.filtersType {
  margin-bottom: 10px;
  line-height: 22px;
  font-weight: bold;

  @media (--tablet-portrait) {
    flex: 0 0 100px;
    margin-bottom: 0;
  }
}

.filters {
  flex: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.error {
  margin: 100px auto;
  max-width: 600px;
  color: var(--grey);
}

.errorIcon {
  font-size: 80px;
  margin-bottom: 15px;
}
