.button {
  display: inline-block;
  padding: 3px 8px;
  background: var(--very-light);
  text-decoration: none;

  &:hover {
    background: var(--extra-light);

    & .icon {
      color: var(--dark);
    }
  }
}

.icon {
  display: inline-block;
  margin-right: 3px;
  width: 20px !important;
  text-align: center;
  color: var(--grey);
}
