.header {
  padding: 20px 0;
  background: var(--very-light);
  border-top: 5px solid var(--red);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (--tablet-portrait) {
    flex-direction: row;
  }
}

.titles {
  order: 2;

  @media (--tablet-portrait) {
    order: 0;
  }
}

.image {
  order: 1;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;

  & img {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  @media (--tablet-portrait) {
    flex: 0 0 200px;
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.updated {
  margin-top: 20px;
  color: var(--grey);
}
