.legend {
  display: block;
  list-style: none;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  pointer-events: none;
  user-select: none;
}

.interval {
  display: inline-block;
  margin: 3px 5px;
}

.color {
  display: inline-block;
  width: 30px;
  height: 12px;
  margin-right: 5px;
}
