.footer {
  padding: 20px 0;
  background: var(--dark);
  color: var(--white);
  line-height: 1.3;

  & dt {
    font-weight: bold;
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  & dd {
    margin-left: 5px;
  }
}

.content {
  @media (--tablet-portrait) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.column {
  flex: 1;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
