.page {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.3;

  & h3 {
    margin-top: 40px;
  }

  & hr {
    margin: 20px 0;
  }

  & ul {
    & li {
      margin-bottom: 5px;
    }
  }
}

.imageRight {
  display: block;
  float: right;
  margin-left: 30px;
  max-width: 200px;
  height: auto;

  @media (--tablet-portrait) {
    max-width: 300px;
  }
}
