@custom-media --phone-landscape (min-width: 480px);
@custom-media --tablet-portrait (min-width: 768px);
@custom-media --tablet-landscape (min-width: 992px);
@custom-media --desktop-small (min-width: 1200px);
@custom-media --desktop-large (min-width: 1680px);
