:root {
  --white: #fff;
  --dark: #383839;
  --grey: #6c757d;
  --mid-grey: #b2b2b2;
  --light-grey: #d5d5d5;
  /* --light: #eaeaea; */
  --very-light: #f4f4f4;
  --extra-light: #f8f9fa;

  /* --blue: #007bff; */
  /* --indigo: #6610f2; */
  /* --purple: #6f42c1; */
  /* --pink: #e83e8c; */
  --red: #f44336;
  /* --orange: #fd7e14; */
  /* --yellow: #ffc107; */
  /* --green: #28a745; */
  /* --teal: #20c997; */
  /* --cyan: #17a2b8; */
  /* --success: #28a745; */
  /* --info: #17a2b8; */
  /* --warning: #ffc107; */
  /* --danger: #dc3545; */

  --phone-landscape: 480px;
  --tablet-portrait: 768px;
  --tablet-landscape: 992px;
  --desktop-small: 1200px;
  --desktop-large: 1680px;
}
