.root {
  background: var(--very-light);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (--tablet-portrait) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.tabs {
  order: 2;
  display: block;
}

.tab {
  display: inline-block;
  padding: 5px 15px;
  color: var(--dark);
  text-decoration: none;

  &.active {
    border-bottom: 2px solid var(--red);
  }
}

.socials {
  order: 1;
  margin-left: 5px;
  margin-bottom: 20px;

  & > * {
    display: inline-block;
    margin-left: 5px !important;
    margin-right: 5px !important;
    vertical-align: middle;

    &:last-child {
      margin-right: 0 !important;
    }
  }

  & > script {
    display: none;
  }

  @media (--tablet-portrait) {
    order: 2;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 5px;
  }
}
