.container {
  margin: 0;
  margin-bottom: 100px;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.subtitle {
  display: block;
  margin: 5px 0;
  font-weight: normal;
  font-size: 14px;
}

.dataDownloadButton {
  margin: 5px auto;
}

.toggle {
  display: block;
  margin: 5px auto;
  text-align: center;
}

.noData {
  margin-top: 40px;
  color: var(--light-grey);
  text-align: center;
}

.noDataIcon {
  font-size: 140px;
  margin-bottom: 40px;
}

.noDataLabel {
  font-size: 22px;
  font-weight: 400;
}
